[Unit]
Description="Argon One Fan Service"
After=multi-user.target
[Service]
Type=simple
Restart=always
RemainAfterExit=true
ExecStart=/usr/local/bin/argonNeoFanController
[Install]
WantedBy=multi-user.target